In [55]:
import numpy as np
import pandas as pd
import difflib #to find close match of input given
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity #to find similarity score of all the moviees

In [3]:
df=pd.read_csv("movies.csv")

In [4]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [5]:
df.shape

(4803, 24)

In [6]:
#selecting relevant features for recommendation
selected=['genres','keywords','tagline','cast','director']
print(selected)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [8]:
df.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [16]:
df.fillna('',inplace=True)

C:\Users\Aakriti\AppData\Local\Temp\ipykernel_5276\3094999256.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('',inplace=True)

In [17]:
df.isnull().sum()

index                   0
budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
cast                    0
crew                    0
director                0
dtype: int64

In [22]:
#combining the selected features
#selected=['genres','keywords','tagline','cast','director']
comb=df['genres']+' '+df['keywords']+' '+df['tagline']+' '+df['cast']+' '+df['director']

print(comb)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [34]:
#converting text to feature vectors 
vectorizer = TfidfVectorizer(lowercase=True)
# or vectorizer = TfidfVectorizer(lowercase=True, min_df=1, stop_words='english')

In [29]:
featurevector=vectorizer.fit_transform(comb)

In [30]:
print(featurevector)

  (0, 198)	0.07912514492800735
  (0, 271)	0.09081447720268189
  (0, 5204)	0.11182749749508697
  (0, 13440)	0.10433355352725562
  (0, 5366)	0.10433355352725562
  (0, 3627)	0.21535043940154278
  (0, 3018)	0.22356693392633634
  (0, 5754)	0.16577485025092195
  (0, 14202)	0.3418956777020543
  (0, 16375)	0.1263324200909883
  (0, 3177)	0.25126855964819583
  (0, 14101)	0.21535043940154278
  (0, 4882)	0.2418630583829073
  (0, 16765)	0.12906888267705946
  (0, 11351)	0.2739303704041666
  (0, 13191)	0.15121581535902417
  (0, 16774)	0.23801225015751357
  (0, 17051)	0.20332801528845756
  (0, 13161)	0.21920124762693652
  (0, 13897)	0.2073363856597466
  (0, 16454)	0.19975784468313598
  (0, 14432)	0.1525185407602397
  (0, 8649)	0.22860674889222501
  (0, 10114)	0.16165931117025054
  (0, 12866)	0.19553338573938647
  :	:
  (4801, 397)	0.18067495553272095
  (4801, 4774)	0.2518762905014918
  (4801, 17027)	0.29414364992580866
  (4801, 13672)	0.28404411818176767
  (4801, 13017)	0.29414364992580866
  (4801, 16915)	0.3083781404365991
  (4801, 3461)	0.3083781404365991
  (4801, 13784)	0.3083781404365991
  (4801, 7172)	0.3083781404365991
  (4802, 11026)	0.17867407682173203
  (4802, 4463)	0.16784466610624255
  (4802, 2087)	0.3099656128577656
  (4802, 4917)	0.16078053641367315
  (4802, 6072)	0.18056463596934083
  (4802, 3387)	0.21753405888348784
  (4802, 4473)	0.19504460807622875
  (4802, 1289)	0.1960747079005741
  (4802, 12831)	0.1696476532191718
  (4802, 4318)	0.1538239182675544
  (4802, 6332)	0.21753405888348784
  (4802, 4552)	0.24002350969074696
  (4802, 2380)	0.24002350969074696
  (4802, 3604)	0.262512960498006
  (4802, 5297)	0.22969114490410403
  (4802, 6903)	0.5700048226105303

In [33]:
#getting similarity score using cosine similarity
similarity=cosine_similarity(featurevector)
print(similarity)

[[1.         0.04720973 0.03891121 ... 0.         0.         0.        ]
 [0.04720973 1.         0.021542   ... 0.01267122 0.         0.        ]
 [0.03891121 0.021542   1.         ... 0.         0.05626942 0.        ]
 ...
 [0.         0.01267122 0.         ... 1.         0.         0.02730605]
 [0.         0.         0.05626942 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02730605 0.         1.        ]]

In [43]:
movie_name=input('Enter your favourite movie name')

Enter your favourite movie name iron man

In [38]:
#creating a list with all the movies given in data set
list_of_all=df['title'].tolist()
#print(list_of_all)

In [40]:
#finding close match for the input
find_close_match=difflib.get_close_matches(movie_name,list_of_all)
print(find_close_match)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [42]:
close_match=find_close_match[0]
print(close_match)

Iron Man

In [45]:
#find index of movie based on title
index_of_movie=df[df.title==close_match]['index'].values[0]
print(index_of_movie)

68

In [56]:
#enumerate to get a loop 
similarity_score=list(enumerate(similarity[index_of_movie]))
#print(similarity_score)

In [48]:
len(similarity_score)

4803

In [59]:
#sorting movoes based on similarity score x[1]=>gives value and not index
sorted_sim_movies=sorted(similarity_score, key=lambda x:x[1], reverse=True)
#print(sorted_sim_movies)

In [54]:
#print the names of similar movies based on index
print('Movies suggested for you : \n')
i=1
for movie in sorted_sim_movies:
    index=movie[0]
    title_from_index=df[df.index==index]['title'].values[0]
    if(i<11):
        print(i,'.',title_from_index)
        i+=1

Movies suggested for you :

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . The Avengers
6 . Captain America: Civil War
7 . Captain America: The Winter Soldier
8 . Ant-Man
9 . X-Men
10 . Made

MOVIE REC SYSTEM

In [63]:
movie_name=input('Enter your favourite movie name')
list_of_all=df['title'].tolist()
find_close_match=difflib.get_close_matches(movie_name,list_of_all)
close_match=find_close_match[0]
index_of_movie=df[df.title==close_match]['index'].values[0]
similarity_score=list(enumerate(similarity[index_of_movie]))
sorted_sim_movies=sorted(similarity_score, key=lambda x:x[1], reverse=True)
print('Movies suggested for you : \n')
i=1
for movie in sorted_sim_movies:
    index=movie[0]
    title_from_index=df[df.index==index]['title'].values[0]
    if(i<11):
        print(i,'.',title_from_index)
        i+=1

Enter your favourite movie name Titanic

Movies suggested for you :

1 . Titanic
2 . The Day the Earth Stood Still
3 . Revolutionary Road
4 . Cheri
5 . Flushed Away
6 . Primary Colors
7 . Gangs of New York
8 . Almost Famous
9 . Little Black Book
10 . The Aviator

In [64]:
# Filter movies that contain the genre 'Romance'
romance_movies = df[df['genres'].str.contains('Romance')]

# Display only 'original_title' column
print(romance_movies[['original_title']])

                           original_title
25                                Titanic
49                       The Great Gatsby
50    Prince of Persia: The Sands of Time
81                             Maleficent
83                             The Lovers
...                                   ...
4781                            Dry Spell
4784                      The Puffy Chair
4786                     Breaking Upwards
4799                            Newlyweds
4800            Signed, Sealed, Delivered

[890 rows x 1 columns]